html {
    /*background: url("https://i.imgur.com/BWIdYTM.jpeg") no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    background-color: #0a0a0a;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.section {
    padding: 3rem 3.5rem;

}
.navbar {
    background-color: transparent;
    background-image: none;
    min-height: 7.5rem;
}

.navbar .title {
    color: #fff;
}

.container {

}

.container .title {
    color: #2CB3E9;
    font-size: 60px;
}

.box {
    border: 1px solid transparent;
    border-width: 4px;
    border-image: linear-gradient(20deg, #8C13D0 0%, #0AB6EA 100%);
    border-image-slice: 1;
    background: rgba(0, 0, 0, .5);
    color: #fff;
}

.box:hover, .box:focus {
    transform: translate(0, 1px);
    outline: none;
    border-image: linear-gradient(20deg, #dd056b 0%, #6f91ff 100%) !important;
    border-image-slice: 1 !important;
    border-width: 6px !important;
}

.main {
    height: 60vh;
    overflow: hidden;
}

.helper {
    height: 19vh;
}

.box-title{
    margin: auto;
    font-size: 45px;
}
.box-img {
    margin: auto;
    width: 100%;
}

.top-box {
    flex-basis: auto;
    height: 70%;
}

.bottom-box {
    flex-basis: auto;
    height: 30%;
}

.is-ancestor {
    height: 100%;
}
.helper-title{
    font-size: 20px;
}
.txt {
    color: #2CB3E9;
    font-size: 45px;
}